{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">
  <div class="author__avatar">
    <img src="{{ author.avatar | relative_url }}" alt="Xun Zhang">
  </div>

  <div class="author__content">
    <h3 class="author__name" itemprop="name">Xun Zhang</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="profile-links">
    {% if author.researchgate %}
      <a href="{{ author.researchgate }}">ResearchGate</a>
    {% endif %}
    {% if author.googlescholar %}
      <a href="{{ author.googlescholar }}">Google Scholar</a>
    {% endif %}
    {% if author.linkedin %}
      <a href="{{ author.linkedin }}">LinkedIn</a>
    {% endif %}
    {% if author.github %}
      <a href="{{ author.github }}">GitHub</a>
    {% endif %}
  </div>
</div>
